<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>

</head>
<body>
    <h1>Main Page</h1>

    <a href="{% url 'MelodyShare:upload' user_id=user_id %}">Upload Music Record</a>

    <h1>Private Music Records</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Media File</th>
        </tr>
        {% for record in private_records %}
        <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.description }}</td>
            <td>
                {% if record.media_file %}
                <a href="{{ record.media_file.url }}">Download Media File</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h1>Public Music Records</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Media File</th>
        </tr>
        {% for record in public_records %}
        <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.description }}</td>
            <td>
                {% if record.media_file %}
                <a href="{{ record.media_file.url }}">Download Media File</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h1>Protected Music Records</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Media File</th>
        </tr>
        {% for record in protected_records %}
        <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.description }}</td>
            <td>
                {% if record.media_file %}
                <a href="{{ record.media_file.url }}">Download Media File</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
